<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   
    <style type="text/css">
        body {
            background-color: white;
        }

        .container {
            padding: 25px;
            width: 800px;
            background-color: white;
        }
    </style>

    <title>Healthapp - Historico Paciente</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Healthapp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="initpacienteboot.html">Cadastrar Paciente</a>
                    <a class="nav-item nav-link" href="identificaPessoa.html"> Identificar Paciente</a>
                    <a class="nav-item nav-link disabled" href="queryConcessao.html"> Cadastrar Interessado</a>
                    <a class="nav-item nav-link disabled" href="queryRevogacao.html"> Remover Interessado</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">

        <h3>Historico Paciente</h3>
        <br>
        <form>
            <div class="form-group">
                <label class="control-label" for="cpf_paciente">CPF Paciente:</label>
                <input type="text" class="form-control" id="cpf_paciente" name="cpf_paciente"
                    aria-describedby="info_pac" placeholder="CPF Paciente">
                <small id="info_pac" class="form-text text-muted">Insira o CPF do paciente dono dos registros</small>
            </div>

            <div class="form-group">
                <label class="control-label" for="cpf_interessado">CPF do interessado:</label>
                <input type="text" class="form-control" id="cpf_interessado" name="cpf_interessado" placeholder="Nome">
            </div>

            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </form>

    </div>


    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
