{{define "title"}}initpaciente{{end}}

{{define "body"}}

{{ if .Response}}
{{ if .Success }}
<div class="alert alert-success" role="alert">
    Transação concluida, ID: {{ .TransactionId }}
</div>
{{ else }}
<div class="alert alert-danger" role="alert">
    Erro: {{ .TransactionId }}
</div>
{{ end }}
{{ end }}

<form action="/initpaciente.html" method="post">
    <h3>Cadastrar paciente</h3><br><br>
    <h4>Dados Pessoais</h4>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="control-label" for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome">
        </div>
        <div class="form-group col-md-3">
            <label class="control-label" for="rg">RG:</label>
            <input type="text" class="form-control" id="rg" name="rg">
        </div>
        <div class="form-group col-md-3">
            <label class="control-label" for="cpf">CPF:</label>
            <input type="text" class="form-control" id="cpf" name="cpf">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="control-label" for="data_nasc">Data de Nascimento:</label>
            <input type="text" class="form-control" id="data_nasc" name="data_nasc">
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="sexo">Sexo:</label>
            <input type="text" class="form-control" id="sexo" name="sexo">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="control-label" for="rg">Nome da mãe:</label>
            <input type="text" class="form-control" id="mae" name="mae">
        </div>
        <div class="form-group col-md-6">
            <label class="control-label" for="naturalidade">Naturalidade:</label>
            <input type="text" class="form-control" id="naturalidade" name="naturalidade">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="cep">Atuação:</label>
        <input type="text" class="form-control" id="atuacao" name="atuacao">
    </div>

    <hr>
    <h4>Endereço</h4>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="control-label" for="rua">Rua:</label>
            <input type="text" class="form-control" id="rua" name="rua">
        </div>
        <div class="form-group col-md-2">
            <label class="control-label" for="num">Numero:</label>
            <input type="text" class="form-control" id="num" name="num">
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="comp">Complemento:</label>
            <input type="text" class="form-control" id="comp" name="comp">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="control-label" for="bairro">Bairro:</label>
            <input type="text" class="form-control" id="bairro" name="bairro">
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="municipio">Município:</label>
            <input type="text" class="form-control" id="municipio" name="municipio">
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="estado">Estado:</label>
            <input type="text" class="form-control" id="estado" name="estado">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="cep">CEP:</label>
        <input type="text" class="form-control" id="cep" name="cep">
    </div>

    <input type="hidden" name="submitted" value="true">
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

{{end}}