{{define "title"}}queryRevogacao{{end}}

{{define "body"}}

{{ if .Response }}
{{ if .Success }}
<div class="alert alert-success" role="alert">
    Transação concluida, ID: {{ .TransactionId }}
</div>
{{ else }}
<div class="alert alert-danger" role="alert">
    Erro: {{ .TransactionId}}
</div>
{{ end }}
{{ end }}

<h3>Remover Interessado</h3>
<br>
<form action="/queryRevogacao.html" method="POST">
    <div class="form-group">
        <label class="control-label" for="cpf_paciente">CPF Paciente:</label>
        <input type="text" class="form-control" id="cpf_paciente" name="cpf_paciente" aria-describedby="info_pac"
            placeholder="CPF">
        <small id="info_pac" class="form-text text-muted">Insira o CPF do paciente dono dos registros</small>
    </div>

    <div class="form-group">
        <label class="control-label" for="cpf_interessado">CPF do interessado:</label>
        <input type="text" class="form-control" id="cpf_interessado" name="cpf_interessado" placeholder="CPF">
        <small id="info_pac" class="form-text text-muted">Insira o CPF do interessado a ser removido</small>
    </div>

    <input type="hidden" name="submitted" value="true">
    <button type="submit" class="btn btn-primary">Revogar</button>
</form>

{{end}}